* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;

flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(187, 131, 38, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  background-color: #bb8326;
  margin-top: 8px;
}

.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    width: 70%;
    align-items: center;
    justify-content: end;
}
