/*  CSS Glogal*/

:root {
  --border: 3px solid red;
  --font-size: ;
  --text-font: ;
  --text-color: white;
  --background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(187, 131, 38, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;

  flex-direction: column;
  background: rgb(2, 0, 36);
  background: var(--background-color);
}

/*  Header */

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  background-color: #bb8326;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Main PC */

main {
  display: flex;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 15%;
  align-items: flex-start;
}

.filter > input,
button {
  border: var(--border);
  width: 100%;
  height: 4%;
  position:sticky;
  margin: 1px;
}

.filter > button{
  width: 50%;
  height: 2%;
  margin-top: 10px;
}

.products {
  /* border: var(--border); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--text-color);
  width: 100%;
}

.products > div {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

div:last-child{
  /* border: var(--border); */
  grid-column: 2/3;
}


div > img {
  /* border: var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 50%;
}

/* Main Phone - Tablet */

/* Footer */

footer {
  display: flex;

  width: 100%;
  color: var(--text-color);
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
